/* 
:root {
    --pocari-blue: #364AFD;
    -- pocari-light-blue: #C3C0FE;
    --pocari-sky-blue: #B6DFFF;
} */

.main {
    background-color: salmon;
}

.machineContainer {

    background-color: #364AFD;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    width: 450px;
    text-align: center;
    padding: 10px;

}

.item {

    width: 100%;
    /* height: 0%; */
        background-color: #B6DFFF;
        border: 1px solid yellow;
        border-radius: 15px;

}

.item:last-child {
    grid-column: span 3;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 400px) {
    .machineContainer {
        grid-template-columns: 1fr;
    }
}